*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, serif;
    color: #eee;
}

body{
    height: 100vh;
    background-image: url(photo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    width: 350px;
    background-color: transparent;
    margin: auto;
    transform: translateY(50%);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 30px 0px 20px 0px;
}

.email,.password{
    position: relative;
    margin-bottom: 15px;
}

.email input, .password input{
    width: 275px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none; 
    font-size: 17px;
    padding: 0px 35px 0px 5px;
    border-bottom: 2px #eee solid;
    color: white;
}
.password input::placeholder{
    text-transform: capitalize;
}

.ion-icon-email,.ion-icon-password{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
}

.check-box{
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.check-box input{
    cursor: pointer;
}
.check-box label{
    color: #000;
    text-transform: capitalize;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    margin: 10px 0px;
    letter-spacing: 3px;
    text-transform: uppercase;    
}


p{
    text-align: center;
    color: #000;
    margin: 10px 0px 20px 0px;

}
a{
    text-decoration: none;
    color: blue;
}

@media (max-width:991px) {
    section {
        width: 400px;
        height: 400px;
        transform: translateY(190%);
        }
    .ion-icon-email,.ion-icon-password {
        color: #000;
        border-bottom: white;
    }
    .email input::placeholder{ color: #000;}
    .password input::placeholder{
        color: #000;
        text-transform: capitalize;
    }

}

@media (min-width:1000px) and (max-width:1200px){
    section {
        transform: translateY(32%);
    }
}